#welcome-start { 
  font-family:Helvetica, Arial,sans-serif,serif,verdana,;
  font-size: 38px;
  }

 body {
            background-color:#f5b642

        }

#before-we-start {
            font-family:Arial;
            font-style:italic;
            font-weight:bold;
            color:#53698f;
        }
 

#dividend {
            font-family:verdana, Arial, sans-serif;
            font-weight:bold;
            color:#32a852
        }

#divisor { 
            font-family:verdana,Arial, sans-serif;
            font-style:italic;
            font-weight:bold:
            color:rgb (126, 32, 214); 
        }

            

   
