#welcome-to-my-webpage { 
  font-family:Helvetica, Arial,sans-serif,serif,verdana;
  font-size: 38px;
  }

 body {
            background-color:#457b96;

        }

#many-things {
            font-family:Arial;
            font-style:italic;
            font-weight:bold;
            color:#ad1d31;
        }

#replit {
            font-family:Arial;
            font-style:italic;
            font-weight:bold;
            color:#551a8b;
        }
 

#scratch-pfp {
            font-family:verdana, Arial, sans-serif;
            font-weight:bold;
            color:#32a852;
            
        }

#github {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#485464;

        }

#scratch {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#f6a02b;
        }
            
#gdrive-vids {
            font-family:Cutive,verdana, Arial, sans-serif;
            font-weight:bold;
            color:#0e7c3a;
        }

#ex-page-fnf {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#7542f6;
        }

#you-can-find-me-at {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#15171a;
        }

#step1 {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#32a88c;
        }

#random-audio {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#8a1e4f;
        }

#wip {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#682091;
        }

#step3 {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#de0b47;
        }

#step4 {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#250694;
  
        }
#notes {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#009ba3;
        }

#while-you-are-here {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#633144;
        }


#cookie {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#3a8687;
        }


#super-secret-fnf {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#0e7d42;
        }
